
body {  
  display: flex;
  justify-content:center; 
  align-items: center;
  background-repeat: no-repeat;
  background-size: fixed;
}


form {
  background: linear-gradient(to bottom, #66ffcc 10%, #ffffff 119%);
  font-family:Helvetica;
  opacity:0.9
}


.tomahawk {
  display: grid ;
  grid-template-rows: 60px 60px 60px 60px 50px;
  
}

.item > label {
  font-size: 15;
  font-family:tahoma;
}

